[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# only dev packages
black = "*"
pre-commit = "*"
flake8 = "*"

[packages]
# dev and prod packages
django = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.9"
